# Configuration file

clipboard {
    I:0 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        30
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        112
        108
        97
        110
        107
        115
        63
        118
        97
        114
        105
        97
        110
        116
        61
        111
        97
        107
        3
        0
        1
        115
        0
        0
        0
        0
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        88
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -112
        67
        22
        41
        -56
        73
        -52
        -53
        46
        -74
        47
        75
        44
        -54
        76
        -52
        43
        -79
        -51
        79
        -52
        102
        96
        104
        96
        57
        -64
        -116
        14
        29
        -104
        64
        -28
        127
        32
        96
        96
        -8
        -1
        -97
        -112
        60
        3
        14
        0
        -111
        25
        -107
        -89
        -79
        -4
        111
        -36
        -15
        115
        -128
        25
        127
        -4
        65
        -28
        1
        -92
        -26
        121
        -43
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:1 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        30
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        112
        108
        97
        110
        107
        115
        63
        118
        97
        114
        105
        97
        110
        116
        61
        111
        97
        107
        3
        0
        1
        115
        0
        0
        0
        61
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        68
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -112
        67
        22
        41
        -56
        73
        -52
        -53
        46
        -74
        47
        75
        44
        -54
        76
        -52
        43
        -79
        -51
        79
        -52
        102
        96
        104
        96
        -7
        -113
        7
        48
        48
        -4
        -1
        63
        42
        63
        -24
        -27
        -17
        83
        -94
        31
        0
        -56
        125
        -16
        26
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:2 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        30
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        112
        108
        97
        110
        107
        115
        63
        118
        97
        114
        105
        97
        110
        116
        61
        111
        97
        107
        3
        0
        1
        115
        0
        0
        0
        63
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        72
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -112
        67
        22
        41
        -56
        73
        -52
        -53
        46
        -74
        47
        75
        44
        -54
        76
        -52
        43
        -79
        -51
        79
        -52
        102
        96
        104
        96
        -7
        -113
        11
        -4
        -3
        -113
        31
        -116
        -54
        83
        71
        -2
        31
        14
        -8
        7
        74
        -45
        -40
        126
        0
        -3
        -113
        15
        -7
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
}


